.card-effect {
    box-shadow: rgba(233, 183, 223, 0.1) 0px 0px 5px 0px, rgba(212, 159, 198, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease;
}

.card-effect:hover {
    box-shadow: rgba(235, 178, 207, 0.653) -10px 10px, rgba(226, 159, 190, 0.705) -20px 20px ;
}